/* Define custom CSS variables for colors */
:root {
    --rojo: #E50914;
    --fondo: #141414;
    --primario: #ff3700;
    --blanco: #ffff;
    --negro: #0c0c0c;
}

/* Styling for headings */
h2 {
    text-align: center;
    margin-bottom: 5rem;
    color: aliceblue;
    margin-top: 100px;
}

/* Styling for paragraphs */
p {
    font-size: 10px;
}

/** INDEX.HTML **/

/* Header styles */

/* Styling for the body of the index page */
.body__index {
    background-color: var(--fondo);
    overflow-x: hidden;
    position: relative;
}

/* Padding for the left side */
.netflix-padding-left {
    padding-left: 57px;
}

/* Padding for the right side */
.netflix-padding-right {
    padding-right: 57px;
}

/* Styling for the navbar */
.netflix-navbar {
    /* background-color: var(--negro); */
    position: fixed;
    width: 100vw;
    z-index: 1000;
    transition: background 0.2s linear;
}

/* Styling for rows in the navbar */
.netflix-row {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

/* Styling for the logo */
.logo2 {
    width: 100px;
}

/* Styling for the dropdown box, initially hidden */
.netflix-dropdown-box {
    display: none;
}

/* Styling for dropdown button */
.netflix-dropdown {
    background-color: transparent;
    color: var(--blanco);
    border: none;
    font-size: 9px;
}

/* Styling for dropdown menu */
.netflix-dropdown-box .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.796);
    font-size: 9px !important;
    color: var(--blanco);
    margin-left: -80px;
    border-top: 3px solid var(--blanco);
    margin-top: 30px;
}

/* Styling for items in the dropdown menu */
.netflix-dropdown-box .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.769);
    text-align: center !important;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
}

/* Styling for dropdown items on hover */
.netflix-dropdown-box .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.111);
    color: var(--blanco);
}

/* Styling for navigation buttons */
.netflix-nav {
    display: block;
    align-items: center;
}

/* Styling for buttons in the navigation */
.netflix-nav button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.729);
    border: none;
    font-size: 13px;
    padding: 1rem;
}

/* Styling for navigation buttons on hover */
.netflix-nav button:hover {
    color: var(--blanco);
}

/* Styling for icons */
i {
    font-size: 20px;
    color: var(--blanco);
    padding: 5px 20px;
}

/* Styling for profile icon */
.netflix-profile {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}

/* Video section styling */
.netflix-home-video {
    width: 100%;
    position: relative;
    z-index: 10;
}

/* Styling for video */
.netflix-home-video video {
    width: 100%;
}

/* Styling for top gradient overlay on video */
.netflix-home-video .top {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, transparent, #000);
}

/* Styling for bottom gradient overlay on video */
.netflix-home-video .bottom {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, transparent, #141414);
}

/* Button styling */

/* Styling for play button */
.bi-play-fill {
    color: #000;
    padding: 0px;
}

/* Styling for info button */
.bi-info-circle {
    padding: 0.5rem;
}

/* Styling for content section of the home video */
.netflix-home-video .content {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 100;
    display: flex;
}

/* Left content section styling */
.netflix-home-video .left {
    margin-left: 80px;
}

/* Styling for image in the left content section */
.netflix-home-video .left img {
    margin-top: 100px !important;
    width: 300px;
    height: 400px;
}

/* Additional image styling */
.content img {
    margin-top: 3rem;
}

/* Button styling */
.btn {
    margin-top: -50px !important;
}

/* Card section styling */

/* Grid container for cards */
#tarjetas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    /* Space between the cards */
    margin: 16px;
    text-align: center;
}

/* Individual card styling */
.card {
    width: 250px !important;
    background: #ff0000;
    border: 4px solid transparent !important;
    transition: transform 0.2s linear;
    margin: 3px !important;
    position: relative;
}

/* Styling for cards on hover */
.card:hover {
    transform: scale(1.1);
    z-index: 10;
}

/* Card body styling, initially hidden */
.card-body {
    display: none;
    padding: 10px 15px;
    position: absolute;
    background-color: #141414;
    top: 120px;
    width: 100%;
}

/* Show card body on hover */
.card:hover .card-body {
    display: block;
}

/* Styling for card title and text */
.card-title,
.card-text {
    color: #ffff;
    text-align: left;
    font-size: 12px;
}

/* Styling for card icons */
.card-icon {
    color: #ffff;
    padding: 0px !important;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
}

/* Slider styling */
.slider1 {
    position: absolute;
    top: 600px;
    z-index: 500;
}

/* Carousel inner container styling */
.carousel-inner {
    position: relative;
    overflow: visible;
}

/* Additional card text styling */
.netflix-card-.text {
    font-size: 12px;
}

/* Star rating styling */
.star {
    color: #fffdfd;
    /* Initial color for stars */
    cursor: pointer;
    /* Change cursor on hover */
    transition: color 0.3s ease;
    /* Smooth color transition */
}

/* Styling for stars on hover */
.star:hover {
    color: #ffc107;
}

/* Styling for filled stars */
.star.filled {
    color: #ffc107;
}

/* Responsive  */
@media (max-width:767.98px) {
    .logo2 {
        width: 50px !important;
    }

    .netflix-padding-left {
        padding-left: 10px;
    }

    .netflix-padding-right {
        padding-right: 10px;
    }

    .netflix-dropdown-box {
        display: block !important;
    }

    .netflix-nav {
        display: none;
    }

    i {
        font-size: 12px;
        cursor: pointer;
        padding: 5px !important;
    }

    .netflix-profile {
        margin-left: 5px !important;
    }

    .netflix-home-video .left {
        margin-left: 15px !important;
    }

    .netflix-home-video .left img {
        margin-top: 50px !important;
        width: 100px;
        height: 100px;

    }

    .btn {
        margin-top: -30px !important;
        width: max-content !important;
        opacity: 0.8;
    }

    .card {
        width: 150px !important;
    }

    .card-icon {
        font-size: 17px !important;
    }

    .slider1 {
        top: 200px;
        margin-left: 0px !important;
    }

}