:root {
    --rojo: #E50914;
    --fondo: #141414;
    --primario: #ff3700;
    --blanco: #ffff;

}


h1 {
    text-align: center;
    margin-bottom: 5rem;
    color: aliceblue;
}

/* Loging page */

/* Login */
.body {
    background: linear-gradient(rgba(0, 0, 0, 0.491), rgba(0, 0, 0, 0.344)), url(/front/assets/login-bg.jpeg);
}

.login-top {
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.login-top img {
    width: 150px;
}

.login-box {
    background-color: rgba(0, 0, 0, 0.899);
    width: 400px;
    height: 530px;
    border-radius: 5px;
    padding: 50px;
}

/* input dentro de la caja*/

.small-text {
    font-size: 13px;
}

.form-control {
    box-shadow: none !important;
}

/* boton */

.btn {
    text-decoration: none;
}


/** INDEX.HTML/

/* Header */

.body__index {
    background-color: var(--fondo);
}


.d-flex {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;

}

.imagen__face {
    width: 25px;
    margin-right: 300px;
}

.text_facebook {
    margin-top: -25px;
    margin-right: 80px;

}

.facebook {
    margin-left: 0.1px;
}

.facebook:hover {
    cursor: pointer;
}

.log,
.facebook {
    position: relative;

}

.logo {
    font-size: 40px;
    color: var(--rojo);
    letter-spacing: 1px;
    font-weight: 800;
    text-decoration: none;
}

.logo:hover {
    color: var(--rojo);
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;

}

.nav li a:hover {
    color: var(--rojo)
}

.nav li a.active {
    color: var(--rojo);
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
}


.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffff;
    background: transparent;
    border: 1 solid rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
}

.search input::placeholder {
    color: #ffff;
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: #ffff;
    border-right: 1px solid #ffff;
}


.card {
    width: 190px;
    height: 254px;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
}

.card-title {
    color: aliceblue;
}


.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    background: rgb(255, 103, 103);
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card-deck {
    margin-left: 30px;

}

#tarjetas {
    margin-top: 100px;
    right: 100px;
    /* Ajusta el valor según el espacio que desees */
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    color: aliceblue;
    height: 0%;
    width: 100%;
    opacity: 0;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 10px;
    transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 0.5rem;
    transform: rotate(0deg);
}




.carousel::before {
    position: absolute;
    content: "";
    top: 0;
    /* Ajusta la posición para que el degradado comience desde arriba */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* Utiliza un gradiente lineal para el degradado */
    z-index: 10;
}




.carousel-control-prev,
.carousel-control-next {
    z-index: 1000;
    /* Ajusta el valor según sea necesario para que los botones estén por encima del contenido */
}




.star {
    color: #ccc;
    /* Color de las estrellas vacías */
}

.star.filled {
    color: yellow;
    /* Color de las estrellas llenas */
}